[Desktop Entry]
Version=1.0
Type=Application

Name=Listen.moe
Comment=A cute radio app for listen.moe
Categories=AudioVideo;Player;

Icon=io.github.noobping.listenmoe
Exec=listenmoe
Terminal=false